#textdomain wesnoth-Grnk

#define GRNK_DEATH
    [event]
        name=die
        [filter]
            id=Grnk
        [/filter]
        {MESSAGE Grnk "" "" _"Farewell, cruel world."}

        # Mal An speaks, if he is there, and is not the attacker
        # otherwise it's Karcyn, under the same conditions
        {VARIABLE speaker none}
        [if]
            [have_unit]
                id=Karcyn
            [/have_unit]
            {VARIABLE_CONDITIONAL second_unit.id not_equals Karcyn}
            [then]
                {VARIABLE speaker Karcyn}
            [/then]
        [/if]
        [if]
            [have_unit]
                id=Mal An
            [/have_unit]
            {VARIABLE_CONDITIONAL second_unit.id not_equals "Mal An"}
            [then]
                {VARIABLE speaker "Mal An"}
            [/then]
        [/if]
        {MESSAGE $speaker "" "" _"Idiot!  How often have I told you that the Master wants that goblin alive!  His wrath will be terrible."}
        {CLEAR_VARIABLE speaker}

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define RUTBURT_DEATH
    [event]
        name=die
        [filter]
            id=Rutburt
        [/filter]
        {MESSAGE Rutburt "" "" _"I guess this had to happen sooner or later."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define GERTBURT_DEATH
    [event]
        name=die
        [filter]
            id=Gertburt
        [/filter]
        {MESSAGE Gertburt "" "" _"I guess this had to happen sooner or later."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define KOORZHAR_DEATH
    [event]
        name=die
        [filter]
            id=Koorzhar
        [/filter]

        {STORE_UNIT_VAR id=Koorzhar type Koorzhar_type}
        {IF_VAR Koorzhar_type equals Lieutenant (
            [then]
                {MESSAGE Koorzhar "" "" _"I was so close to making general ..."}
            [/then]
            [else]
                {MESSAGE Koorzhar "" "" _"Only a couple more month and I would have retired ..."}
            [/else]
        )}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define WYSSAUBA_DEATH
    [event]
        name=die
        [filter]
            id=Wyssauba
        [/filter]
        {MESSAGE Wyssauba "" "" _"There is so much magic left to ..."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define GROSSAUBA_DEATH
    [event]
        name=die
        [filter]
            id=Grossauba
        [/filter]
        {MESSAGE Grossauba "" "" _"Mages of Hynderwlt, av..."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define TEUSSAUBA_DEATH
    [event]
        name=die
        [filter]
            id=Teussauba
        [/filter]
        {MESSAGE Teussauba "" "" _"I failed you, Grossauba ..."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define VANAK_DEATH
    [event]
        name=die
        [filter]
            id=Vanak
        [/filter]
        {MESSAGE Vanak "" "" _"Vanak ... die."}
        {MESSAGE Grnk "" "" _"As eloquent in death as he was in life."}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef
