#textdomain wesnoth-Grnk

# Grnk the Direwolf Rider
# Differences from standard Direwolf Rider
#  - Leadership ability

[unit_type]
    [base_unit]
        id=Direwolf Rider
    [/base_unit]

    id=Grnk the Direwolf Rider
    name=_"Grnk the Direwolf Rider"

    hide_help=yes
    description=_"Physically, Grnk the Direwolf Rider is a standard direwolf rider. Intellectually on the other hand, he remains on a level that no other goblin has ever attained."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_LEADERSHIP}

    [abilities]
        {ABILITY_LEADERSHIP_GRNK 3}
    [/abilities]
[/unit_type]
