#textdomain wesnoth-Grnk

[scenario]
    id=05_Fred
    name=_"Fred"
    next_scenario=06_Lizards

    map_data="{~add-ons/Grnk/part2/maps/05_Fred.map}"

    {DEFAULT_SCHEDULE_AFTERNOON}
    {TURNS 24 20 18}
    victory_when_enemies_defeated=no

    {GRNK2_STORY_05}

    [side]
        side=1
        controller=human
        id=Vanak
        type=null # just to make wmllint happy

        x,y=19,4

        team_name=Vanak
        user_team_name=_"Vanak"

        gold=0 # Gold is carried over from previous scenario
    [/side]

    [side]
        side=2
        controller=ai
        type=Orcish Crossbowman
        id=Prark
        name=_"Prark"
        canrecruit=yes

        x,y=19,21

        team_name=Prark
        user_team_name=_"Prark"

        recruit=Goblin Spearman,Orcish Archer,Orcish Assassin,Orcish Grunt,Troll Whelp,Wolf Rider

        gold=175

        {~add-ons/Grnk/fred/ai_fred_grnk.cfg}
    [/side]

    [event]
        name=prestart

        [recall]
            id=Grnk
            x,y=20,4
        [/recall]

        # Clear the recall list (to get rid of the guards)
        [kill]
            side=1
            [not]
                id=Grnk,Vanak
            [/not]
        [/kill]

        [capture_village]
            y=14-22
            side=2
        [/capture_village]

        {PLACE_IMAGE "items/bonestack.png" 15 21}
        {PLACE_IMAGE "items/burial.png" 20 19}
        {PLACE_IMAGE "items/bones.png" 12 19}
        {PLACE_IMAGE "scenery/trash.png" 24 22}
        {SCATTER_IMAGE (x,y,terrain=5-33,2-17,Gd) 6 items/bones.png}
        {SCATTER_IMAGE (x,y,terrain=5-33,2-17,Gd) 2 scenery/trash.png}

        {PRUNES_SETUP 1 Grnk 5 22 "*^X*,Wo,Q*"}

        [objectives]
            side=1
            summary=_"<span color='#A050A0'>Move Past Prark's Orcs</span>"
            [objective]
                description=_"Defeat all enemy orcs"
                condition=win
            [/objective]
            [objective]
                description=_"Death of Grnk"
                condition=lose
            [/objective]
            [objective]
                description=_"Death of Vanak"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
            [note]
                description=_"Until the enemy AI has been improved, Vanak can only move within 3 hexes of his starting position."
            [/note]
       [/objectives]
    [/event]

    [event]
        name=start

        {MESSAGE Prark "" "" _"No go here. Prark you get!"}
        {MESSAGE Grnk "" "" _"Wait, wait! We have no business with you. We only want to pass through to get to Lauering Swamps. We don't ..."}

        {MESSAGE Prark "" "" _"We them get!"}

        {UNIT 2 (Orcish Grunt) 18 20 (animate=yes)}
        {UNIT 2 (Orcish Grunt) 19 20 (animate=yes)}
        {UNIT 2 (Orcish Grunt) 21 20 (animate=yes)}
        {UNIT 2 (Orcish Assassin) 20 20 (animate=yes)}
        {UNIT 2 (Wolf Rider) 18 21 (animate=yes)}
        {UNIT 2 (Orcish Archer) 20 21 (animate=yes)}

        {MESSAGE Grnk "" "" _"Vanak, this is madness. Talk to him, maybe he will let us pass. Or better yet, make him join us."}
        {MESSAGE Vanak "" "" _"Vanak no like Prark. Prark stupid. Prark no join little goblin."}
        {MESSAGE Grnk "" "" {GASP_BEGINNING _"sigh"}+_"It can't ever be easy, can it?"}
        {MESSAGE Vanak "" "" _"We them get?"}
        {MESSAGE Grnk "" "" _"That's right."}

        {NARRATOR_GRAY _"Important Note: Unfinished AI" _"Prark's orcs are played by a custom AI that does not quite work as desired yet and does some pretty strange things. In particular, it does not work very well at all if Vanak does not stay close to his keep.
<i> </i>
For the time being, <span color='#F00000'>Vanak can therefore only move within 3 hexes of his starting position.</span> After I am done with the rest of the campaign, I will come back to working on this AI. Hopefully, this will eventually result in a better AI and the restriction on Vanak's moves being lifted."}
    [/event]

    # Vanak cannot move more than 3 hexes from his starting position.
    # This restriction will be lifted once the AI has been improved.
    [event]
        name=enter_hex
        first_time_only=no

        [filter]
            id=Vanak

            [filter_location]
                [not]
                    x,y=19,4
                    radius=3
                [/not]
            [/filter_location]
        [/filter]

        {MOVE_UNIT (id=Vanak) $x2 $y2}

        [store_unit]
            [filter]
                id=Vanak
            [/filter]

            variable=tmp_Vanak
        [/store_unit]

        [modify_unit]
            [filter]
                id=Vanak
            [/filter]

            moves="$($tmp_Vanak.moves+1)"
        [/modify_unit]

        {CLEAR_VARIABLE tmp_Vanak}

        {NARRATOR_GRAY _"Reminder: Restriction on Vanak's Moves" _"Remember that Vanak must stay within 3 hexes of his starting position at (19,4) until the enemy AI has been improved."}
    [/event]

    [event]
        name=side 5 turn

        {MESSAGE Grnk "" "" _"What the hell are they doing?"}
        {MESSAGE Vanak "" "" _"Vanak say Prark stupid."}
    [/event]

    # When an enemy dies, we need to check:
    # 1. Whether it was the last non-petrified enemy (scenario end)
    # 2. Whether that was the side leader -> make another unit leader
    # 3. Prarks "speaks" when he dies
    #
    # This needs to be fired both on an attack kill and on prunes events

    [event]
        name=last breath
        first_time_only=no

        [filter]
            side=2
        [/filter]

        [fire_event]
            name=enemy death

            [primary_unit]
                id=$unit.id
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=scenario_prunes_event
        first_time_only=no

        [fire_event]
            name=enemy death

            [primary_unit]
                id=$second_unit.id # It's the second unit that is affected
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=enemy death
        first_time_only=no

        [if]
            [variable]
                name=unit.id
                equals=Prark
            [/variable]

            [then]
                {MESSAGE Prark "" "" _"P..."}
                {MESSAGE Grnk "" "" _"Indeed."}
            [/then]
        [/if]

        [if]
            [not]
                [have_unit]
                    side=2
                    [not]
                        [filter_wml]
                            [status]
                                petrified=yes
                            [/status]
                        [/filter_wml]
                    [/not]
                [/have_unit]
            [/not]

            [then]
                {MESSAGE Grnk "" "" _"Let's hurry now. We still need to cross Lauering Swamps before we can get to the Master's valley."}

                # Start S6 at same time of day
                [store_time_of_day]
                [/store_time_of_day]

                [endlevel]
                    result=victory
                    bonus=yes
                    carryover_add=yes
                    carryover_percentage=40
                    carryover_report=yes
                    linger_mode=yes
                [/endlevel]
            [/then]
        [/if]

        # If this was the side leader, make another unit leader.
        [if]
            [variable]
                name=unit.canrecruit
                equals=yes
            [/variable]
            [have_unit]
                side=2
                canrecruit=no
                [not]
                    [filter_wml]
                        [status]
                            petrified=yes
                        [/status]
                    [/filter_wml]
                [/not]
            [/have_unit]

            [then]
                {FIND_CLOSEST_HEX $unit.x $unit.y (
                    [filter]
                        side=2
                        canrecruit=no
                        [not]
                            [filter_wml]
                                [status]
                                    petrified=yes
                                [/status]
                            [/filter_wml]
                        [/not]
                    [/filter]
                )}

                [kill]
                    id=$unit.id
                [/kill]

                [store_unit]
                    [filter]
                        x,y=$hex_x,$hex_y
                    [/filter]

                    variable=new_leader
                [/store_unit]
                {VARIABLE new_leader.canrecruit yes}
                [unstore_unit]
                    variable=new_leader
                    find_vacant=no
                [/unstore_unit]

                {MESSAGE $new_leader.id "" "" _"$new_leader.name chief now."}

                {CLEAR_VARIABLE hex_x,hex_y,new_leader}
            [/then]
        [/if]
    [/event]

    # Finally, the standard events for all or most scenarios
    {GRNK_DEATH}
    {VANAK_DEATH}
[/scenario]
